
.container {
    background-image: url(./assets/bg1.jpg);
    background-size: cover;
    height: 90vh;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin: 2.5rem 2.5rem 0 2.5rem;
    display: flex;
}

.form-area {
    margin: auto;
    text-align: start;
}

.form-area h3 {
    font-size: 2.2rem;
    color: #fff;
}

.form-area input {
    height: 4rem;
    width: 30rem;
    border-radius: 15px;
    border: none;
    padding-left: 1rem;
    font-size: 1rem;
}

.form-area input:focus {
    outline: none;
}

.right-side {
    width: 50%;
}